
.se-angry {
	background-image: url('source/png/se-angry.png');
	background-repeat: no-repeat;
}

.se-badEvil {
	background-image: url('source/png/se-badEvil.png');
	background-repeat: no-repeat;
}

.se-badFrown {
	background-image: url('source/png/se-badFrown.png');
	background-repeat: no-repeat;
}

.se-blush {
	background-image: url('source/png/se-blush.png');
	background-repeat: no-repeat;
}

.se-boiled {
	background-image: url('source/png/se-boiled.png');
	background-repeat: no-repeat;
}

.se-cool {
	background-image: url('source/png/se-cool.png');
	background-repeat: no-repeat;
}

.se-dead {
	background-image: url('source/png/se-dead.png');
	background-repeat: no-repeat;
}

.se-deadSweat {
	background-image: url('source/png/se-deadSweat.png');
	background-repeat: no-repeat;
}

.se-emoKiss {
	background-image: url('source/png/se-emoKiss.png');
	background-repeat: no-repeat;
}

.se-expressionless {
	background-image: url('source/png/se-expressionless.png');
	background-repeat: no-repeat;
}

.se-flushed {
	background-image: url('source/png/se-flushed.png');
	background-repeat: no-repeat;
}

.se-frown {
	background-image: url('source/png/se-frown.png');
	background-repeat: no-repeat;
}

.se-goodEvil {
	background-image: url('source/png/se-goodEvil.png');
	background-repeat: no-repeat;
}

.se-grin {
	background-image: url('source/png/se-grin.png');
	background-repeat: no-repeat;
}

.se-happyKiss {
	background-image: url('source/png/se-happyKiss.png');
	background-repeat: no-repeat;
}

.se-joy {
	background-image: url('source/png/se-joy.png');
	background-repeat: no-repeat;
}

.se-kiss {
	background-image: url('source/png/se-kiss.png');
	background-repeat: no-repeat;
}

.se-kissHeart {
	background-image: url('source/png/se-kissHeart.png');
	background-repeat: no-repeat;
}

.se-laugh {
	background-image: url('source/png/se-laugh.png');
	background-repeat: no-repeat;
}

.se-love {
	background-image: url('source/png/se-love.png');
	background-repeat: no-repeat;
}

.se-mask {
	background-image: url('source/png/se-mask.png');
	background-repeat: no-repeat;
}

.se-noMouth {
	background-image: url('source/png/se-noMouth.png');
	background-repeat: no-repeat;
}

.se-poisoned {
	background-image: url('source/png/se-poisoned.png');
	background-repeat: no-repeat;
}

.se-relax {
	background-image: url('source/png/se-relax.png');
	background-repeat: no-repeat;
}

.se-sad {
	background-image: url('source/png/se-sad.png');
	background-repeat: no-repeat;
}

.se-sadFrown {
	background-image: url('source/png/se-sadFrown.png');
	background-repeat: no-repeat;
}

.se-satisfied {
	background-image: url('source/png/se-satisfied.png');
	background-repeat: no-repeat;
}

.se-scream {
	background-image: url('source/png/se-scream.png');
	background-repeat: no-repeat;
}

.se-sleep {
	background-image: url('source/png/se-sleep.png');
	background-repeat: no-repeat;
}

.se-sleepy {
	background-image: url('source/png/se-sleepy.png');
	background-repeat: no-repeat;
}

.se-slightlySad {
	background-image: url('source/png/se-slightlySad.png');
	background-repeat: no-repeat;
}

.se-smile {
	background-image: url('source/png/se-smile.png');
	background-repeat: no-repeat;
}

.se-smiley {
	background-image: url('source/png/se-smiley.png');
	background-repeat: no-repeat;
}

.se-smirk {
	background-image: url('source/png/se-smirk.png');
	background-repeat: no-repeat;
}

.se-sob {
	background-image: url('source/png/se-sob.png');
	background-repeat: no-repeat;
}

.se-sweat {
	background-image: url('source/png/se-sweat.png');
	background-repeat: no-repeat;
}

.se-sweatSmile {
	background-image: url('source/png/se-sweatSmile.png');
	background-repeat: no-repeat;
}

.se-thumbDown {
	background-image: url('source/png/se-thumbDown.png');
	background-repeat: no-repeat;
}

.se-thumbsDown {
	background-image: url('source/png/se-thumbsDown.png');
	background-repeat: no-repeat;
}

.se-thumbsUp {
	background-image: url('source/png/se-thumbsUp.png');
	background-repeat: no-repeat;
}

.se-thumbUp {
	background-image: url('source/png/se-thumbUp.png');
	background-repeat: no-repeat;
}

.se-toungeOut {
	background-image: url('source/png/se-toungeOut.png');
	background-repeat: no-repeat;
}

.se-toungeOutHappy {
	background-image: url('source/png/se-toungeOutHappy.png');
	background-repeat: no-repeat;
}

.se-toungeOutWink {
	background-image: url('source/png/se-toungeOutWink.png');
	background-repeat: no-repeat;
}

.se-weary {
	background-image: url('source/png/se-weary.png');
	background-repeat: no-repeat;
}

.se-wink {
	background-image: url('source/png/se-wink.png');
	background-repeat: no-repeat;
}

.se-winky {
	background-image: url('source/png/se-winky.png');
	background-repeat: no-repeat;
}

.se-wtf {
	background-image: url('source/png/se-wtf.png');
	background-repeat: no-repeat;
}